<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!-- Database Connection String -->
  <connectionStrings>
    
    <!--Local Database-->
    
    <add name="SMRBankDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SMRBankDB.mdf;Integrated Security=True"
         
      providerName="System.Data.SqlClient" />
    
    
    <!--<add name="SMRBankDBConnectionString" connectionString="Data Source=MONICA-PC;Initial Catalog= SRM_BankDatabase;Integrated security=True;User ID=sa;Password=Moni!2015" providerName="System.Data.SqlClient"/>-->
    <!--Initial Catalog=SMRBankDB;User ID=sa;Password=YOUR_PASSWORD;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!-- Custom 404 error page -->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--<customErrors mode="On" defaultRedirect="~/errors/404.aspx">
      <error statusCode="404" redirect="~/errors/404.aspx"/>
    </customErrors>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- Send mail -->
  <!--<system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="YOUR_GMAIL_ID" password="YOUR_GMAIL_PASSWORD"/>
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>