<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>-->


  <connectionStrings>

    <!--Local Database-->

    <add name="SMRBankDBConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDBFilename= NewSMRBankProjectFinal\LoginTest.Test\NewSMRDB.mdf;Integrated Security=True"
         
      providerName="System.Data.SqlClient" />

   


  </connectionStrings>
    <!--Local Database-->

  
<!--</connectionStrings>-->
</configuration>